{% extends 'base.html.twig' %}

{% block title %}MakeZine{% endblock %}

{% block body %}
<div class="mt-5 d-flex flex-column align-items-center">
    <h1>page d'accueil du site MAKEZINE</h1>
    <p>à venir...</p>
</div>
{% endblock %}