@font-face {
    font-family: "Press-Feeling-Eroded";
    src: url("/assets/fonts/Press-Feeling-Eroded.ttf") format("truetype");
}
body{
    min-height: 100vh;
}
.fanzine-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 264px;
    height: 377px;
    overflow: hidden;
    margin: 10px;
    padding: 5px;
    font-family: "Press-Feeling-Eroded";
}
.title-collage, .paragraph-collage{
    display: inline-block;
    letter-spacing: 2px;
    color: black;
    -webkit-box-shadow: inset -1px -2px 2px 1px #000000; 
    box-shadow: inset -1px -2px 8px 1px #000000;
    margin-bottom: 5px;
    border-radius: 2px;
}
.no-collage{
    display: inline-block;
    padding: 1px 3px 1px 3px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    font-size: 14px;
    color: black;
}
.title, .paragraph, .title-collage, .paragraph-collage, .picture{
    text-align: center;
    padding: 2px 5px 2px 5px;
}
.title, .title-collage{
    font-size: 36px;
}
.paragraph, .paragraph-collage{
    font-size: 14px;
    letter-spacing: 1px;
}
.title::first-letter, .title-collage::first-letter{
    font-size: 48px;
}
.picture img{
    max-width: 100%;
}
.img-tape {
    position: relative;
    text-align: center;
    display: inline-block;
}
.img-tape::before{
    background: rgba(255,255,235,.6);
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    margin: auto;
    margin-top: 5px;
    width: 60px;
}

.img-tape::before{
    left: 50%;
    margin-left: -30px;
    top: -10px;
}

.carousel-inner .fanzine-page{
    margin: auto;
}
.page-btn{
    height: 30px;
    width: 30px;
    background-color: black;
    color: white;
    font-weight: 500;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    transition: all 500ms;
}
.page-btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border: solid black 1px;
}
.current-btn{
    background-color: white;
    color: black;
    border: solid black 1px;
}

@import "~bootstrap/scss/bootstrap";